<mat-card appearance="outlined" class="club-mat-card">
  <div class="club-card">
    <a [routerLink]="['/team', team.id]" class="club-card__logo">
      <img [src]="team.logo" [alt]="team.name" class="club-card__club-img">
    </a>
    <div class="club-card__info">
      <a class="club-card__name">{{ team.name }}</a>
      <a [routerLink]="['/league', league.id, 2024]" class="club-card__league">
        <img [src]="league.logo" [alt]="league.name" class="club-card__league-logo"> {{ league.name }}
      </a>
      <p class="club-card__season">Season: <span>{{ league.season }}</span></p>
    </div>
  </div>
</mat-card>