<div class="info-card">
  <div class="info-card__photo">
    <img [src]="player.photo" class="info-card__img">
  </div>
  <div class="info-card__content">
    <h1 class="info-card__name">{{ player.firstname }} <strong>{{ player.lastname }}</strong></h1>
    <div class="info-card__details">
      <ul class="info-card__list">
        <li class="info-card__item">Date of birth/Age: <span>{{ player.birth.date | date: 'dd.MM.yyyy' }}</span> (<span>{{ player.age }}</span>)</li>
        <li class="info-card__item">Place of birth: <span>{{ player.birth.place }}</span>, <span>{{ player.birth.country }}</span></li>
        <li class="info-card__item">Citizenship: <span>{{ player.nationality }}</span></li>
      </ul>
      <ul class="info-card__list">
        <li class="info-card__item">Height: <span>{{ player.height }}</span></li>
        <li class="info-card__item">Weight: <span>{{ player.weight }}</span></li>
      </ul>
    </div>
  </div>
</div>