<div class="page">
  <div class="leagues">
    <div class="leagues__container">
      <app-leagues-list></app-leagues-list>
    </div>
  </div>
  <div class="page__container">
    <div class="top-tables">
      <div class="top-tables__item">
        <div class="top-tables__title">Most Goals</div>
        @if (selectedLoadingScorers$ | async) {
        <app-skeleton-table></app-skeleton-table>
        }
        @if (topScorers) {
        <app-top-table [players]="topScorers"></app-top-table>
        }
      </div>
      <div class="top-tables__item">
        <div class="top-tables__title">Most Assists</div>
        @if (selectedLoadingAssists$ | async) {
        <app-skeleton-table></app-skeleton-table>
        }
        @if (topAssists) {
        <app-top-table [players]="topAssists" type="assists"></app-top-table>
        }
      </div>
    </div>
  </div>
</div>