<mat-card class="transfer-mat-card">
  <div class="transfer-card">
    <div class="transfer-card__clubs">
      <a [routerLink]="['/team', transfer.teams.out.id]" class="transfer-card__out" [matTooltip]="transfer.teams.out.name"><img [src]="transfer.teams.out.logo" [alt]="transfer.teams.out.name"></a>
      <a [routerLink]="['/team', transfer.teams.in.id]" class="transfer-card__in" [matTooltip]="transfer.teams.in.name"><img [src]="transfer.teams.in.logo" [alt]="transfer.teams.in.name"></a>
    </div>
    <div class="transfer-card__details">
      <strong class="transfer-card__price">{{ transfer.type }}</strong>
      <span class="transfer-card__date">{{ transfer.date | date: 'dd.MM.yyyy' }}</span>
    </div>
  </div>
</mat-card>