.fixtures-list {
  display: grid;
  gap: 1.5rem;
  justify-content: center;
  grid-template-columns: repeat(1, minmax(270px, 365px));
  @media (width > 620px) {
    grid-template-columns: repeat(2, minmax(270px, 365px));
  }
  @media (width > 920px) {
    grid-template-columns: repeat(3, minmax(270px, 365px));
  }
}
