$background-color: #282828;
$background-hover: rgba(110, 110, 110, 0.9);
$light-background: #f5f5f5;
$dark-blue: #03346e;
$blue: #1356a7;
$green: #34a853;
$red: #ea4335;
$grey: #9d9ba7;
$skeleton-start: hsl(200, 20%, 80%);
$skeleton-end: rgb(240, 243, 245);
